$background-gradient-dark: #C8BE8A;

$spacer-x: 15px;
$spacer-y: 15px;

@import "scss/bootstrap.scss";

body {
	background-image: url('/media/images/sand-background.png');
	background-position: bottom;
	background-size: 100%;
	background-repeat: no-repeat;

	a[href^='mailto'],
	a[href^='tel'] {
		color: inherit;
	}
}

h1, h2, h3, h4, h5, h6 {

	&.underline {
		display: inline-block;
		line-height: 2;
		border-bottom: 1px solid theme-color("secondary");
		color: theme-color("primary");
		text-transform: uppercase;
	}
}

#wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#page-header {
	@extend .clearfix;
	@include gradient-y(#053563, theme-color("primary"));
	// background-color: theme-color("primary");
	color: #fff;
	padding: 0 $spacer-x / 2 $spacer-y / 2 $spacer-x / 2;
	border-bottom: 4px solid #fff;
	font-size: 10px;

	a {
		color: #fff;
	}

	.container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;

		@include media-breakpoint-down(sm) {
			display: block;
			text-align: center;
		}

		.page-icon {

			img {
				height: 120px;
			}

			&.page-icon-uvi {
				padding: $spacer-y / 2 $spacer-x / 2;
				background-color: #fff;
				margin-top: -1px;
				color: #000;
				text-align: center;
				display: inline-block;
				@include border-bottom-radius(4px);
				vertical-align: top;
				-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.3);
				box-shadow: 3px 3px 3px 0 rgba(0,0,0,.3);

				@include media-breakpoint-down(sm) {
					display: none;
				}

				img {
					margin-top: 4px;
					height: 100px;
				}
			}
		}

		.page-header-right {

		}

		.page-header-links {
			display: inline-block;
			vertical-align: top;
			padding: $spacer-y / 2 $spacer-x / 2 0;

			a {
				padding-top: $spacer-y;
			}
		}
	}
}

#page-content {
	flex: 1;
	@include gradient-y($background-gradient-dark, transparent, 0%, 300px);

	.content {
		background-color: #fff;
	}

	#page-content-footer {
		@include gradient-y(#053563, theme-color("primary"));
		color: #fff;
		padding: $spacer-y $spacer-x;
		font-size: 10px;
		text-align: right;

		a {
			color: #fff;
		}
	}
}

.btn-group-justified {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;

	@include media-breakpoint-down(sm) {
		display: block;
	}

	.btn,
	.btn-group {
		float: none;
		display: table-cell;
		width: 1%;
		border-radius: 0px;

		@include media-breakpoint-down(sm) {
			display: block;
			width: 100%;
			margin: 0px !important;
		}

		.btn {
			width: 100%;
			border-radius: 0px;
		}

		.dropdown-menu {
			left: auto;
		}
	}
}

.btn-leaf {
	background-color: theme-color("secondary");
	background-image: url('/media/images/leaf-overlay.png');
	background-position: top right;
	background-repeat: no-repeat;
	color: #fff;

	&[type="submit"]{
		font-weight: bold;
		border-radius: 0;
		text-align: center;
		min-width: 140px;
		text-transform: uppercase;
		font-size: $font-size-sm;
	}

	&:hover {
		background-color: darken(theme-color("secondary"), 8%);
		color: #fff;
		text-shadow: 2px 2px 2px #4D4D4D;
	}
}

h1 {
	display: block;
	margin: 0px;
	padding: $spacer-y $spacer-x;
	@include gradient-x(theme-color("secondary"), #fff, 0%, 100%);
	color: #fff;
	font-size: $font-size-lg;
	text-transform: uppercase;
	font-weight: 900;
}

.date-range {
	display: table;
	width: 100%;

	.date-range-input {
		display: table-cell;
	}

	small {
		display: table-cell;
		width: 30px;
		text-align: center;
	}
}

.blog-entry {
	@extend .clearfix;
	border-bottom: 1px solid #ccc;
	padding-bottom: $spacer-y;
	padding-top: $spacer-y;

	&:first-of-type {
		padding-top: 0px;
		margin-top: -8px;
	}

	&:last-of-type {
		border-bottom: 0px;
	}

	h5 {
		margin: 4px 0px;
	}
	
	img {
		float: left;
		margin-right: $spacer-x / 2;
		width: 200px;
		height: 120px;
		margin-top: 8px;

		@include media-breakpoint-down(xs) {
			float: none;
			display: block;
		}
	}

	.btn {
		float: right;

		&.btn-leaf {
			font-weight: bold;
			border-radius: 0;
			text-align: center;
			min-width: 140px;
			text-transform: uppercase;
			font-size: $font-size-sm;
		}
	}
}

.blog-full {

	h5 {
		margin: 4px 0px;
		border-bottom: 1px solid #ccc;
		padding-bottom: $spacer-y / 2;
		margin-bottom: $spacer-y;
	}
	
	img {
		float: left;
		margin-right: $spacer-x;
		width: 400px;
		height: 240px;
		margin-top: 8px;

		@include media-breakpoint-down(xs) {
			float: none;
			display: block;
		}

		@include media-breakpoint-down(sm) {
			width: 200px;
			height: 120px;
		}
	}

	.btn {

		&.btn-leaf {
			font-weight: bold;
			border-radius: 0;
			text-align: center;
			min-width: 140px;
			font-size: $font-size-sm;
		}
	}
}

.datepicker {
	font-size: $font-size-sm;
}

.hero-image {
	height: 200px;
	background-size: cover;
	background-position: right;
	margin-bottom: $spacer-y;

	&.hero-image-lg {
		height: 340px;

		@include media-breakpoint-down(sm) {
			height: 200px;
		}
	}

	&.hero-image-captioned {
		position: relative;

		@include media-breakpoint-down(sm) {
			padding-top: 40px;
			background-position: bottom right;
		}

		.hero-image-caption {
			background-color: rgba(255, 255, 255, .6);
			padding: $spacer-y $spacer-x;
			position: absolute;
			bottom: $spacer-y / 2;
			left: 0;
			right: 0;

			@include media-breakpoint-down(sm) {
				font-size: 12px;

				h6 {
					font-size: 12px;
				}
			}

			h6 {
				margin: 0px 0px 4px 0px;
			}
		}
	}
}

.image-grid {
	text-align: center;

	img {
		max-width: 220px;
		width: 100%;
		margin: $spacer-y / 2 $spacer-x / 2;
	}
}

.callout {
	@include gradient-y(#053563, theme-color("primary"));
	padding: $spacer-y $spacer-x;
	text-align: center;
	color: #fff;

	h5 {
		display: inline;
	}

	.btn {
		margin: 8px auto;
		max-width: 300px;
	}

	.vertical-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

p {
	& > img {
		float: left;
		margin: 6px $spacer-x 0 0;
	}
}

.caption-box {
	@extend .clearfix;
	margin: 0 auto $spacer-y;
	max-width: 260px;
	height: 300px;
	display: flex;
	flex-direction: column;

	@include media-breakpoint-down(sm) {
		height: 320px;
	}

	@include media-breakpoint-down(md) {
		height: 240px;
	}
	
	.caption {
		padding: $spacer-x / 2 $spacer-y / 2;
		@include gradient-y(#053563, theme-color("primary"));
		color: #fff;
	}

	.caption-image {
		flex: 1;
		margin-bottom: $spacer-y;
		background-size: cover;
		background-position: center;
	}

	.btn {
	    margin-left: auto;
	    min-width: 100px;
	}
}